*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0278ae;
  --color2: #51adcf;
  --color3: #a5ecd7;
  --color4: #e8ffc1;
}

.hide {
  display: none !important;
}

/* ===================== NAVBAR ===================== */
#city-nav {
  /* background-color: var(--color1); */
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#city-name {
  height: 10vh;
  width: 30%;
  text-align: center;
  padding: 3vh;
  margin: 0 5vh;
  border-radius: 5vh;
  border: 1.5vh solid var(--color2);
  font-size: 3.5vh;
  font-weight: bolder;
  background-color: var(--color2);
  color: whitesmoke;
  outline: none;
}

.warning {
  border-color: crimson !important;
}

#send-button {
  width: 10%;
  text-align: center;
  border-radius: 5vh;
  border: 1vh solid var(--color1);
  padding: 2.5vh;
  font-size: 3vh;
  background-color: var(--color1);
  color: whitesmoke;
  font-weight: bolder;
}

#temp-units {
  height: 10vh;
  width: 20%;
  border: none;
  border-radius: 5vh;
  margin: 0 5vh;
  padding: 3vh;
  font-size: 3vh;
  font-weight: bolder;
  color: crimson;
  text-align-last: center;
  outline: none;
}

/* =================== DISPLAY SECTION ====================== */
#data-display {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  margin: 2vh 0;
}

#general-info {
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forecast-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.data-board {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.4));
  color: whitesmoke;
  line-height: 2;
}

#city {
  font-size: 7vh;
  color: whitesmoke;
}

#main-temp {
  font-size: 5vh;
  font-weight: bolder;
  color: var(--color4);
  font-style: italic;
}

#weather {
  font-size: 5vh;
  color: var(--color4);
  font-style: italic;
  font-weight: bolder;
}

li {
  font-weight: bolder;
  font-size: 3vh;
  color: var(--color4);
}

h2 {
  font-weight: bolder;
  font-size: 5vh;
  color: var(--color2);
  text-decoration: underline;
}

/* =========================== FOOTER =========================== */
#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3vh;
  font-size: 3vh;
  font-weight: bolder;
  background-color: whitesmoke;
  color: var(--color2);
}

a {
  text-decoration: none;
  color: var(--color1);
}
